In [2]:
import pandas as pd
csv_1=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv")

csv_1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [3]:
csv_2=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv",nrows=1)

csv_2

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/

In [6]:
csv_3=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv",usecols=['Company',"City"]) #usecols geting on number of rows
print(csv_3)

                            Company               City
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

[100 rows x 2 columns]

In [8]:
csv_3=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv",usecols=[1,3]) #usecols geting on number of rows
print(csv_3)

        Customer Id Last Name
0   DD37Cf93aecA6Dc    Baxter
1   1Ef7b82A4CAAD10    Lozano
2   6F94879bDAfE5a6     Berry
3   5Cef8BFA16c5e3c     Olsen
4   053d585Ab6b3159    Bender
..              ...       ...
95  cb8E23e48d22Eae     Greer
96  CeD220bdAaCfaDf  Atkinson
97  28CDbC0dFe4b1Db    Guerra
98  c23d1D9EE8DEB0A    Farmer
99  2354a0E336A91A1    Haynes

[100 rows x 2 columns]

In [9]:
csv_4=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv",skiprows=[0,3]) 
print(csv_4)

      1  DD37Cf93aecA6Dc    Sheryl    Baxter                  Rasmussen Group  \
0     2  1Ef7b82A4CAAD10   Preston    Lozano                      Vega-Gentry
1     4  5Cef8BFA16c5e3c     Linda     Olsen  Dominguez, Mcmillan and Donovan
2     5  053d585Ab6b3159    Joanna    Bender         Martin, Lang and Andrade
3     6  2d08FB17EE273F4     Aimee     Downs                     Steele Group
4     7  EA4d384DfDbBf77    Darren      Peck     Lester, Woodard and Mitchell
..  ...              ...       ...       ...                              ...
93   96  cb8E23e48d22Eae      Karl     Greer                        Carey LLC
94   97  CeD220bdAaCfaDf      Lynn  Atkinson            Ware, Burns and Oneal
95   98  28CDbC0dFe4b1Db      Fred    Guerra                    Schmitt-Jones
96   99  c23d1D9EE8DEB0A    Yvonne    Farmer               Fitzgerald-Harrell
97  100  2354a0E336A91A1  Clarence    Haynes               Le, Nash and Cross

         East Leonard                       Chile            229.077.5154  \
0   East Jimmychester                    Djibouti              5153435776
1          Bensonview          Dominican Republic  001-808-617-6467x12895
2      West Priscilla  Slovakia (Slovak Republic)  001-234-203-0635x76146
3       Chavezborough      Bosnia and Herzegovina     (283)437-3886x88321
4            Lake Ana            Pitcairn Islands      (496)452-6181x3291
..                ...                         ...                     ...
93       East Richard                      Guyana     (188)169-1674x58692
94       New Bradview                   Sri Lanka         +1-846-706-2218
95         Ortegaland             Solomon Islands    +1-753-067-8419x7170
96    Lake Elijahview                       Aruba           (530)311-9786
97          Judymouth                    Honduras           (753)813-6941

          397.884.0519x718        zunigavanessa@smith.info  2020-08-24  \
0         686-620-1820x944                 vmata@colon.com  2021-04-23
1          +1-813-324-8756     stanleyblackwell@benson.org  2020-06-02
2    001-199-446-3860x3486         colinalvarado@miles.net  2021-04-17
3             999-728-1637             louis27@gilbert.com  2020-02-25
4     +1-247-266-0963x4995             tgates@cantrell.com  2021-08-24
..                     ...                             ...         ...
93    001-841-293-3519x614                hhart@jensen.com  2022-01-30
94            605.413.3198               vkemp@ferrell.com  2021-07-10
95   +1-632-666-7507x92121                swagner@kane.org  2021-09-18
96  001-869-452-0943x12424  mccarthystephen@horn-green.biz  2021-08-11
97            783.639.1472          colleen91@faulkner.biz  2020-03-11

           http://www.stephenson.com/
0               http://www.hobbs.com/
1          http://www.good-lyons.com/
2         https://goodwin-ingram.com/
3              http://www.berger.net/
4                 https://www.le.com/
..                                ...
93            http://hayes-perez.com/
94         https://novak-allison.com/
95              https://www.ross.com/
96               http://watkins.info/
97  http://www.hatfield-saunders.net/

[98 rows x 12 columns]

In [11]:
csv_6=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv",index_col=['City'])
csv_6

,Index,Customer Id,First Name,Last Name,Company,Country,Phone 1,Phone 2,Email,Subscription Date,Website
City,,,,,,,,,,,
East Leonard,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
East Jimmychester,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
Isabelborough,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
Bensonview,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
West Priscilla,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...
East Richard,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
New Bradview,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
Ortegaland,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
Lake Elijahview,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
Judymouth,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [12]:
csv_6=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv",index_col=['pr'])
csv_6

ValueError: Index pr invalid

In [15]:
csv_3=pd.read_csv("//home//ltp-deepmindz//my-app//python//customer.csv",names=["col1",'col2','col3','col4','col5','col6','col7'])
csv_3

,,,,,col1,col2,col3,col4,col5,col6,col7
Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
...,...,...,...,...,...,...,...,...,...,...,...
96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [16]:
csv_1=pd.read_csv('//home//ltp-deepmindz//my-app//python//customer.csv')
csv_1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [17]:
csv_1=pd.read_csv('//home//ltp-deepmindz//my-app//python//customer.csv')
csv_1

,Index,Customer Id,First Name,Last Name,Company,City,Country
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic)
...,...,...,...,...,...,...,...
95,96,NaN,NaN,NaN,NaN,NaN,NaN
96,97,NaN,NaN,NaN,NaN,NaN,NaN
97,98,NaN,NaN,NaN,NaN,NaN,NaN
98,99,NaN,NaN,NaN,NaN,NaN,NaN
99,100,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
csv_1=pd.read_csv('//home//ltp-deepmindz//my-app//python//customer.csv')
csv_1

,Index,Customer Id,First Name,Last Name,Company,City,Country
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic)
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste
10,11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey
11,12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam
12,13,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo
13,14,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,Sri Lanka
14,15,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Singapore
15,16,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire,Oman
16,17,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara
17,18,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie,Mozambique
18,19,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview,South Georgia and the South

In [20]:
csv_1=pd.read_csv('//home//ltp-deepmindz//my-app//python//customer.csv')
csv_1.index
csv_1.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country'],
      dtype='object')

In [21]:
csv_1.describe

<bound method NDFrame.describe of     Index      Customer Id First Name  Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl     Baxter
1       2  1Ef7b82A4CAAD10    Preston     Lozano
2       3  6F94879bDAfE5a6        Roy      Berry
3       4  5Cef8BFA16c5e3c      Linda      Olsen
4       5  053d585Ab6b3159     Joanna     Bender
5       6  2d08FB17EE273F4      Aimee      Downs
6       7  EA4d384DfDbBf77     Darren       Peck
7       8  0e04AFde9f225dE      Brett     Mullen
8       9  C2dE4dEEc489ae0     Sheryl     Meyers
9      10  8C2811a503C7c5a   Michelle  Gallagher
10     11  216E205d6eBb815       Carl  Schroeder
11     12  CEDec94deE6d69B      Jenna     Dodson
12     13  e35426EbDEceaFF     Tracey       Mata
13     14  A08A8aF8BE9FaD4   Kristine        Cox
14     15  6fEaA1b7cab7B6C      Faith       Lutz
15     16  8cad0b4CBceaeec    Miranda    Beasley
16     17  a5DC21AE3a21eaA   Caroline      Foley
17     18  F8Aa9d6DfcBeeF8       Greg       Mata
18     19  F160f5Db3EfE973   Clifford   Jacobson

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
5                      Steele Group      Chavezborough
6      Lester, Woodard and Mitchell           Lake Ana
7      Sanford, Davenport and Giles            Kimport
8                    Browning-Simon       Robersonstad
9                      Beck-Hendrix         Elaineberg
10       Oconnell, Meza and Everett       Shannonville
11        Hoffman, Reed and Mcclain        East Andrea
12                   Graham-Francis  South Joannamouth
13                   Carpenter-Cook           Jodyberg
14                   Carter-Hancock          Burchbury
15               Singleton and Sons       Desireeshire
16                  Winters-Mendoza  West Adriennestad
17                    Valentine LLC        Lake Leslie
18                        Simon LLC         Harmonview

                        Country
0                         Chile
1                      Djibouti
2           Antigua and Barbuda
3            Dominican Republic
4    Slovakia (Slovak Republic)
5        Bosnia and Herzegovina
6              Pitcairn Islands
7                      Bulgaria
8                        Cyprus
9                   Timor-Leste
10                     Guernsey
11                      Vietnam
12                         Togo
13                    Sri Lanka
14                    Singapore
15                         Oman
16               Western Sahara
17                   Mozambique
18  South Georgia and the South  >

In [22]:
csv_1.head(2)

,Index,Customer Id,First Name,Last Name,Company,City,Country
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti

In [24]:
csv_1.tail(2)

,Index,Customer Id,First Name,Last Name,Company,City,Country
17,18,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie,Mozambique
18,19,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview,South Georgia and the South

In [26]:
csv_1[:1]

,Index,Customer Id,First Name,Last Name,Company,City,Country
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile

In [28]:
csv_1[6:11]

,Index,Customer Id,First Name,Last Name,Company,City,Country
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste
10,11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey

In [30]:
type(csv_1)

pandas.core.frame.DataFrame

In [31]:
csv_1.index.array

<NumpyExtensionArray>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
Length: 19, dtype: int64

In [32]:
csv_1.index

RangeIndex(start=0, stop=19, step=1)

In [33]:
csv_1.to_numpy()

array([[1, 'DD37Cf93aecA6Dc', 'Sheryl', 'Baxter', 'Rasmussen Group',
        'East Leonard', 'Chile'],
       [2, '1Ef7b82A4CAAD10', 'Preston', 'Lozano', 'Vega-Gentry',
        'East Jimmychester', 'Djibouti'],
       [3, '6F94879bDAfE5a6', 'Roy', 'Berry', 'Murillo-Perry',
        'Isabelborough', 'Antigua and Barbuda'],
       [4, '5Cef8BFA16c5e3c', 'Linda', 'Olsen',
        'Dominguez, Mcmillan and Donovan', 'Bensonview',
        'Dominican Republic'],
       [5, '053d585Ab6b3159', 'Joanna', 'Bender',
        'Martin, Lang and Andrade', 'West Priscilla',
        'Slovakia (Slovak Republic)'],
       [6, '2d08FB17EE273F4', 'Aimee', 'Downs', 'Steele Group',
        'Chavezborough', 'Bosnia and Herzegovina'],
       [7, 'EA4d384DfDbBf77', 'Darren', 'Peck',
        'Lester, Woodard and Mitchell', 'Lake Ana', 'Pitcairn Islands'],
       [8, '0e04AFde9f225dE', 'Brett', 'Mullen',
        'Sanford, Davenport and Giles', 'Kimport', 'Bulgaria'],
       [9, 'C2dE4dEEc489ae0', 'Sheryl', 'Meyers', 'Browning-Simon',
        'Robersonstad', 'Cyprus'],
       [10, '8C2811a503C7c5a', 'Michelle', 'Gallagher', 'Beck-Hendrix',
        'Elaineberg', 'Timor-Leste'],
       [11, '216E205d6eBb815', 'Carl', 'Schroeder',
        'Oconnell, Meza and Everett', 'Shannonville', 'Guernsey'],
       [12, 'CEDec94deE6d69B', 'Jenna', 'Dodson',
        'Hoffman, Reed and Mcclain', 'East Andrea', 'Vietnam'],
       [13, 'e35426EbDEceaFF', 'Tracey', 'Mata', 'Graham-Francis',
        'South Joannamouth', 'Togo'],
       [14, 'A08A8aF8BE9FaD4', 'Kristine', 'Cox', 'Carpenter-Cook',
        'Jodyberg', 'Sri Lanka'],
       [15, '6fEaA1b7cab7B6C', 'Faith', 'Lutz', 'Carter-Hancock',
        'Burchbury', 'Singapore'],
       [16, '8cad0b4CBceaeec', 'Miranda', 'Beasley',
        'Singleton and Sons', 'Desireeshire', 'Oman'],
       [17, 'a5DC21AE3a21eaA', 'Caroline', 'Foley', 'Winters-Mendoza',
        'West Adriennestad', 'Western Sahara'],
       [18, 'F8Aa9d6DfcBeeF8', 'Greg', 'Mata', 'Valentine LLC',
        'Lake Leslie', 'Mozambique'],
       [19, 'F160f5Db3EfE973', 'Clifford', 'Jacobson', 'Simon LLC',
        'Harmonview', 'South Georgia and the South']], dtype=object)

In [35]:
import numpy as np
v=np.asarray(csv_1)
v

array([[1, 'DD37Cf93aecA6Dc', 'Sheryl', 'Baxter', 'Rasmussen Group',
        'East Leonard', 'Chile'],
       [2, '1Ef7b82A4CAAD10', 'Preston', 'Lozano', 'Vega-Gentry',
        'East Jimmychester', 'Djibouti'],
       [3, '6F94879bDAfE5a6', 'Roy', 'Berry', 'Murillo-Perry',
        'Isabelborough', 'Antigua and Barbuda'],
       [4, '5Cef8BFA16c5e3c', 'Linda', 'Olsen',
        'Dominguez, Mcmillan and Donovan', 'Bensonview',
        'Dominican Republic'],
       [5, '053d585Ab6b3159', 'Joanna', 'Bender',
        'Martin, Lang and Andrade', 'West Priscilla',
        'Slovakia (Slovak Republic)'],
       [6, '2d08FB17EE273F4', 'Aimee', 'Downs', 'Steele Group',
        'Chavezborough', 'Bosnia and Herzegovina'],
       [7, 'EA4d384DfDbBf77', 'Darren', 'Peck',
        'Lester, Woodard and Mitchell', 'Lake Ana', 'Pitcairn Islands'],
       [8, '0e04AFde9f225dE', 'Brett', 'Mullen',
        'Sanford, Davenport and Giles', 'Kimport', 'Bulgaria'],
       [9, 'C2dE4dEEc489ae0', 'Sheryl', 'Meyers', 'Browning-Simon',
        'Robersonstad', 'Cyprus'],
       [10, '8C2811a503C7c5a', 'Michelle', 'Gallagher', 'Beck-Hendrix',
        'Elaineberg', 'Timor-Leste'],
       [11, '216E205d6eBb815', 'Carl', 'Schroeder',
        'Oconnell, Meza and Everett', 'Shannonville', 'Guernsey'],
       [12, 'CEDec94deE6d69B', 'Jenna', 'Dodson',
        'Hoffman, Reed and Mcclain', 'East Andrea', 'Vietnam'],
       [13, 'e35426EbDEceaFF', 'Tracey', 'Mata', 'Graham-Francis',
        'South Joannamouth', 'Togo'],
       [14, 'A08A8aF8BE9FaD4', 'Kristine', 'Cox', 'Carpenter-Cook',
        'Jodyberg', 'Sri Lanka'],
       [15, '6fEaA1b7cab7B6C', 'Faith', 'Lutz', 'Carter-Hancock',
        'Burchbury', 'Singapore'],
       [16, '8cad0b4CBceaeec', 'Miranda', 'Beasley',
        'Singleton and Sons', 'Desireeshire', 'Oman'],
       [17, 'a5DC21AE3a21eaA', 'Caroline', 'Foley', 'Winters-Mendoza',
        'West Adriennestad', 'Western Sahara'],
       [18, 'F8Aa9d6DfcBeeF8', 'Greg', 'Mata', 'Valentine LLC',
        'Lake Leslie', 'Mozambique'],
       [19, 'F160f5Db3EfE973', 'Clifford', 'Jacobson', 'Simon LLC',
        'Harmonview', 'South Georgia and the South']], dtype=object)

In [38]:
csv_1.sort_index(axis=0,ascending=False)

,Index,Customer Id,First Name,Last Name,Company,City,Country
18,19,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview,South Georgia and the South
17,18,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie,Mozambique
16,17,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara
15,16,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire,Oman
14,15,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Singapore
13,14,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,Sri Lanka
12,13,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo
11,12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam
10,11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic)
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile

In [39]:
csv_1['Company'][0]='python'

/tmp/ipykernel_67080/2465102111.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv_1['Company'][0]='python'
/tmp/ipykernel_67080/2465102111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1['Company'][0]='python'

In [40]:
csv_1['Company'][0]="python"

/tmp/ipykernel_67080/2673914476.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv_1['Company'][0]="python"
/tmp/ipykernel_67080/2673914476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1['Company'][0]="python"

In [45]:
csv_1.loc['0','Company']="python"
csv_1

,Index,Customer Id,First Name,Last Name,Company,City,Country
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,python,East Leonard,Chile
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic)
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina
6,7.0,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands
7,8.0,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,Sri Lanka
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Singapore
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire,Oman
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie,Mozambique
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview,South Georgia and the South
0,NaN,NaN,NaN,NaN,python,NaN,NaN

In [48]:
csv_1.loc[[2,3],["Company","City"]]

                           Company           City
2                    Murillo-Perry  Isabelborough
3  Dominguez, Mcmillan and Donovan     Bensonview

In [50]:
csv_1.loc[:,["Company","City"]]

                            Company               City
0                            python       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
5                      Steele Group      Chavezborough
6      Lester, Woodard and Mitchell           Lake Ana
7      Sanford, Davenport and Giles            Kimport
8                    Browning-Simon       Robersonstad
9                      Beck-Hendrix         Elaineberg
10       Oconnell, Meza and Everett       Shannonville
11        Hoffman, Reed and Mcclain        East Andrea
12                   Graham-Francis  South Joannamouth
13                   Carpenter-Cook           Jodyberg
14                   Carter-Hancock          Burchbury
15               Singleton and Sons       Desireeshire
16                  Winters-Mendoza  West Adriennestad
17                    Valentine LLC        Lake Leslie
18                        Simon LLC         Harmonview
0                            python                NaN

In [54]:
csv_1.loc[[2,3],:]

,Index,Customer Id,First Name,Last Name,Company,City,Country
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic

In [56]:
csv_1.iloc[0,4]

'python'

In [57]:
csv_1.drop('Company',axis=1)

,Index,Customer Id,First Name,Last Name,City,Country
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,East Leonard,Chile
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,East Jimmychester,Djibouti
2,3.0,6F94879bDAfE5a6,Roy,Berry,Isabelborough,Antigua and Barbuda
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,Bensonview,Dominican Republic
4,5.0,053d585Ab6b3159,Joanna,Bender,West Priscilla,Slovakia (Slovak Republic)
5,6.0,2d08FB17EE273F4,Aimee,Downs,Chavezborough,Bosnia and Herzegovina
6,7.0,EA4d384DfDbBf77,Darren,Peck,Lake Ana,Pitcairn Islands
7,8.0,0e04AFde9f225dE,Brett,Mullen,Kimport,Bulgaria
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Robersonstad,Cyprus
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Elaineberg,Timor-Leste
10,11.0,216E205d6eBb815,Carl,Schroeder,Shannonville,Guernsey
11,12.0,CEDec94deE6d69B,Jenna,Dodson,East Andrea,Vietnam
12,13.0,e35426EbDEceaFF,Tracey,Mata,South Joannamouth,Togo
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Jodyberg,Sri Lanka
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Burchbury,Singapore
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Desireeshire,Oman
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,West Adriennestad,Western Sahara
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Lake Leslie,Mozambique
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Harmonview,South Georgia and the South
0,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
csv_1.drop(0,axis=0)

,Index,Customer Id,First Name,Last Name,Company,City,Country
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic)
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina
6,7.0,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands
7,8.0,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,Sri Lanka
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Singapore
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire,Oman
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie,Mozambique
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview,South Georgia and the South
0,NaN,NaN,NaN,NaN,python,NaN,NaN